:root {
    --primary-color: #71af47;
    --secondary-color: #f0f0f0;
    --background-color: #ffffff;
    --good-color: #71af47;
    --bad-color: #ff0000;
    --warn-color: #ff8800;
    --info-color: #6495ed;
    --hot-gradient: linear-gradient(45deg, rgba(200, 200, 0, 0.5), transparent);
    --cold-gradient: linear-gradient(45deg, rgb(0 194 255 / 39%), transparent);
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    background-image: var(--hot-gradient);
    color: var(--secondary-color);
    padding: 0 1em;
}

nav {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    padding: 1em .5em;
    gap: 1em;
}

input, select {
    appearance: none;
    padding: 1em;
    border-radius: .5rem;
    border: 2px solid var(--secondary-color);
    background-color: var(--background-color);
}

.search {
    flex: 4;
}

.sort {
    flex: 1;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
}

section {
    display: flex;
    flex-direction: column;
    margin: .5em;
    padding: .5em;
    gap: .5em;
    background-color: var(--secondary-color);
    border-radius: 1.5rem;
}

.slinky-enter-active, .slinky-leave-active {
    transition: font-size .5s;
}
.slinky-enter, .slinky-leave-to {
    font-size: 0;
}

.head {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    padding-left: 1em;
    cursor: pointer;
}

.expand-indicator {
    padding: 0;
    border: 0;
    font-size: 1.5em;
    cursor: inherit;
    border-radius: .5rem;
    line-height: 1;
    background: none;
}

section > .head .up-indicator,
section > .head .down-indicator,
section > .head .partial-indicator {
  margin-right: .5rem;
}

h2,
h3 {
    margin: 0;
    flex-grow: 1;
}

.body {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

article {
    display: flex;
    flex-direction: column;
    padding: .5em;
    gap: .5em;
    background-color: var(--background-color);
    border-radius: 1rem;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.up-indicator:before,
.down-indicator:before,
.partial-indicator:before {
    display: inline-block;
    min-width: 4.2em;
    text-align: center;
    padding: .5em;
    color: var(--secondary-color);
    background-image: var(--hot-gradient);
    border-radius: .5rem;
    font-weight: bold;
}

.up-indicator:before {
    content: 'UP';
    background-color: var(--good-color);
}

.down-indicator:before {
    content: 'DOWN';
    background-color: var(--bad-color);
}

.partial-indicator:before {
    content: 'PARTIAL';
    background-color: var(--warn-color);
}

.up {
    color: var(--good-color);
}

.down {
    color: var(--bad-color);
}

.partial {
    color: var(--warn-color);
}

.number {
    height: 1em;
    width: 2em;
    padding: 0.5em 0;
    text-align: center;
    color: var(--secondary-color);
    background: var(--info-color);
    border-radius: 0.25rem;
}

.number::before {
    content: '#';
}
